html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato',sans-serif;
  font-size: 18px;
  font-weight: 300;
  height: 100%;
  color: white;
  background: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: all 0.3s ease-in-out; }

section.calc-method { 
  background: white;
  width: 700px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 50px calc(50% - 350px);
}

@media (max-width: 800px) {
  section.calc-method {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
  }

}

h1, h2 {
  color: gray;
  text-align: center; }

header  > h2 {
  color: black; }

.container {
  width: 1000px;
  max-width: 100%;
  margin:50px;
  margin: auto; }

header {
  width: 100%;
  height: 100px;
  position: relative;
  background: white; }
  header h1 {
    font-size: 50px;
    font-weight: 300;
    margin: auto;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }

nav{
  float: none; 
  clear: both;
  overflow: hidden;
  width: 100%; 
  margin: 0px auto;
  background: white;
}

nav ul {
  list-style: none;
  margin:0px;
  margin-left: 60px;
}

nav li{
  float: left; 
}

nav li a{
  display: block; 
  width: 200px; 
  padding: 20px; 
  border-top: 5px solid; 
  position: relative; 
  background: #fff;
  z-index: 2;
  text-decoration: none;
  color: #444;
  box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box; 
}



.second li a:after{
  height: 0px;
  top: 0px;
}

nav li a:after { 
  content: "";
  height: 100%; 
  left: 0; 
  width: 100%;
  position: absolute; 
  transition: all 0.3s ease 0s; 
  -webkit-transition: all 0.3s ease 0s; 
  z-index: -1;
}


nav.second li a:hover:after, nav.third li a:hover:after{height: 100%; }


nav li:first-child a:after{ background: #3498db; }
nav li:nth-child(2) a:after{ background: #ffd071; }
nav li:nth-child(3) a:after{ background: #f0776c; }
nav li:last-child a:after{ background: #1abc9c; }

  
nav li a:hover{ border-top: 0px; color: #fff;}
nav li:first-child a{ border-top: 10px solid #3498db; }
nav li:nth-child(2) a{ border-top: 10px solid #ffd071; }
nav li:nth-child(3) a{ border-top: 10px solid #f0776c; }
nav li:last-child a{ border-top: 10px solid #1abc9c; }

section {
  width: 100%;
  height: 50%;
  color: #444; }
  section article {
    padding: 50px 0; }

/*section:nth-of-type(odd) {
  background: #fff; }*/

canvas {
  background-color: white; }

/*helper*/
.isFixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 0 #eee; }

.whiteSpace {
  margin-top: 60px;
  -webkit-transition: none;
  transition: none; }
}

html {
  font-size: 2.5em;
}
body {
  background-color: #fff;
  padding: 25px;
  text-align: center;
}

/* Wrapper */
.icon-button {
  background-color: white;
  border-radius: 4.0rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2.0rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 2.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 4.0rem;
  margin: -1.3rem;
}

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 2.6rem;
  left: 0;
  line-height: 2.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 2.6rem;
  z-index: 10;
}





.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}

.instagram span {
  background-color: #517fa4;
}

.linkedin span {
  background-color: #007bb6;
}




.icon-button .fa-twitter {
  color: #4099ff;
}
.icon-button .fa-facebook {
  color: #3B5998;
}
.icon-button .fa-tumblr {
  color: #34526f;
}
.icon-button .fa-linkedin {
  color: #007bb6;
}
.icon-button .fa-instagram {
  color: #517fa4;
}
.icon-button .fa-youtube {
  color: #bb0000;
}
.icon-button .fa-pinterest {
  color: #cb2027;
}




.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .icon-google-plus,
.icon-button:hover .fa-tumblr,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-youtube,
.icon-button:hover .fa-linkedin {
  color: white;
}

@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }

  .icon-button:hover span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    margin: -0.8rem;
  }

  /* Icons */
  .icon-button i {
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }
  body {

    padding: 10px;
  }
  .pinterest {
   display: none; 
  }



}

/*font-face*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format("woff"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format("woff"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format("woff"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format("woff"); }
