h1{}

body {

  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: black;
  background-image:url("file:///Users/Jake/devboot/jhwayne.github.io/escheresque_ste/escheresque_ste.png");}