.green{
	color: green;
}
body{background-color: gray;
}
.cont{text-align: center;
	padding: 10px 5px 3px 5px;
	  border: 20px solid lightgreen;
	   margin: 15px;  	
	   clear: both
}

.header{}

.footer{}

.sidebar{
	color: white;
    float:left;
    width:200px;
    background:black;
}

.bttmimage{ 
	position: absolute;
	  
}

.toptext{ 
	font:italic bold 30px Georgia, serif;
	color:red;
	position: absolute;
	top: 100px;
	left:150px;  
    z-index: 2
}

  a:link	{color:blue;} /* unvisited link */
  a:visited	{color:orange;} /* visited link */
  a:hover	{color:green;} /* mouse over link */
  a:active	{color:red;} /* selected link */